@charset "UTF-8";
@import 'scroll.css';
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@font-face {
    font-family: 'Greasegun';
   src: url(../source/fonts/greasegun.ttf);
}


/* https://www.30secondsofcode.org/blog/s/copy-text-to-clipboard-with-javascript
https://www.w3schools.com/css/css3_variables.asp */


:root {
    --primary-color: #57a0a0;
    --secondy-color: #8599a6;
    --third-color: #2d5353;
    --background-black: #f1f1f1;
}

/* RESET PAGE */
*{
	margin: 0px;
	padding: 0px;
	outline: 0px;
	font-size: 100%;
	background: transparent;
	box-sizing: border-box;
    color: #000;
}
::selection {
    background: var(--primary-color);
    color: var(--background-black);
}

body{
	overflow: scroll;  /* Sempre aparece a barra de rolagem. */
	overflow-x: hidden; /* Não aparece a a barra horizontal.  */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a {
    text-decoration: none;
}
ul, ol {
    list-style: none;
    display: block;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Iceland', cursive;
    font-weight: 700;
    color: var(--third-color);

}

h1 {
    font-size: 3.50rem;
}
h2 {
    font-size: 2.75rem;
    margin: 0;
}
h3 {
    font-size: 2rem;
    margin: 0;
    margin-top: 2.05rem;
    margin-bottom: 0.45rem;
}
h4 {
    font-size: 1.75rem;
}

/*////////////////*/
/* CONTAINER DO CABEÇALHO */
/*////////////////*/
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}
.navbar .container,
.navbar .container-fluid,
.navbar .container-sm,
.navbar .container-md,
.navbar .container-lg,
.navbar .container-xl {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.container,
.container-fluid,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  width: 100%;
  padding-right: 0.65rem;
  padding-left: 0.65rem;
  margin-right: auto;
  margin-left: auto;
}
/*////////////////*/
/*////////////////*/
/* Título do Cabeçalho */
/*////////////////*/
.navbar .container h1{
    font-family: 'Greasegun', Arial, Helvetica, sans-serif;
    /* color: var(--background-black); */
    color: var(--primary-color);
    font-size: 1.5rem;
    /* line-height: 1rem; */
    padding: 0;
    /* padding-bottom: 7px; */
    margin: 0;
}
/*////////////////*/


/*////////////////*/
/*////////////////*/
/* LISTA DE MENU */
/*////////////////*/
/*/////////////// */
/*
/? Change Background-Color the Container Menu
/? width < 992
*/
#mainNav {
    /* background-color: #009c6d; */
    background-color: var(--background-black);
}
/*/////////////// */
#mainNav .navbar-nav .nav-item .nav-link {
    font-family: 'Krona One', sans-serif;
    font-size: 0.65rem;
    font-weight: 600;
    color: var(--primary-color);
    letter-spacing: 0.0625em;
    text-decoration: none;
    background-color: transparent;
    transition: margin-right 0.25s ease-in-out;
}
#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: #aed3d3;
    margin-right: 5px;
}
/*////////////////*/
/*////////////////*/
/* RESPONSIVIDADE */
/*////////////////*/
@media (min-width: 992px) {
#mainNav {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none;
    background-color: #ffffff;
    box-shadow: 0px 0px 1.5px #202020;
    /* background-color: #fff; */
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
}
#mainNav .navbar-brand {
    font-size: 1.5em;
    transition: font-size 0.3s ease-in-out;
}
#mainNav .navbar-brand img {
    height: 53px;
    transition: height 0.3s ease-in-out;
}
#mainNav.navbar-shrink {
    /* padding-top: 1rem;
    padding-bottom: 1rem; */
    background-color: #ffffff;
    /* background-color: #212529; */
}
/* #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
} */
#mainNav.navbar-shrink .navbar-brand svg,
#mainNav.navbar-shrink .navbar-brand img {
    height: 45px;
}
#mainNav .navbar-nav .nav-item {
    margin-right: 1rem;
}
#mainNav .navbar-nav .nav-item:last-child {
    margin-right: 0;
}
}
/*////////////////*/
/*////////////////*/
/* LISTA DE LINKS */
/*////////////////*/
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
}
.nav-link {
    display: block;
    padding: 0.5rem 1rem;
}
.nav-link:hover, .nav-link:focus {
    text-decoration: none;  
}
.nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default;
}
/*////////////////*/
/*////////////////*/
/* ESPAÇAMENTO SUPERIOR DO MENU */
/*////////////////*/
.navbar-toggler + .navbar-collapse.show {
  margin-top: 0;
}
/*////////////////*/


/*////////////////*/
/*////////////////*/
/* EFFECT HAMBURGER MENU */
/*////////////////*/
.hamburger-menu {
    display: flex;
    border-radius: 5px;
    background-color: var(--primary-color);
    justify-content: center;
    align-items: center;
}
.hamburger-menu #checkbox-menu{
    position: absolute;
    opacity: 0;
}
.hamburger-menu label{
    cursor: pointer;
    position: relative;
    display: block;
    height: 31px;
    width: 40px;
    padding: 5px;
    margin: 0;
}
.hamburger-menu label span{
    position: absolute;
    display: block;
    height: 5px;
    width: 30px;
    border-radius: 30px;
    background: var(--background-black);
    transition: 0.25s ease-in-out;
}
.hamburger-menu label span:nth-child(1){
    top: 5px
}
.hamburger-menu label span:nth-child(2){
    top: 13px;
}
.hamburger-menu label span:nth-child(3){
    top: 21px;
}
.hamburger-menu #checkbox-menu:checked + label span:nth-child(1){
    transform: rotate(-45deg);
    top: 13px;
}
.hamburger-menu #checkbox-menu:checked + label span:nth-child(2){
    opacity: 0;
}
.hamburger-menu #checkbox-menu:checked + label span:nth-child(3){
    transform: rotate(45deg);
    top: 13px;
}
/*////////////////*/
/*////////////////*/
/* DELETE BORDER */
/*////////////////*/
.navbar-toggler {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}
.navbar-toggler:active, .navbar-toggler:focus {
    border: 0;
    outline: 0;
}
.navbar-toggler.collapsed {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}
.navbar-toggler.collapsed:active, .navbar-toggler.collapsed:focus {
    border: 0;
    outline: 0;
}
 /*////////////////*/


/*////////////////*/
/*////////////////*/
/* CONTAINER FEATURED */
/*////////////////*/
header.masthead {
    position: relative;
    padding-top: 6rem; 
    padding-bottom: 2.2rem;
    color: #fff;
    /* background-image: url("../images/header-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover; */
}
header.masthead .container{
    /* height: 100%; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
header.masthead .container .functions-basic {
    height: 80px;
    padding: 15px 0;
}
header.masthead .container .functions-basic ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
header.masthead .container .functions-basic li button{
    width: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header.masthead .container .functions-basic li button span{
    font-family: 'Krona One', sans-serif;
    font-size: 0.62rem;
}
header.masthead .container .functions-basic li button:hover span{
    text-decoration: underline;
}
/*////////////////*/
/*////////////////*/
/* Code Container */
/*////////////////*/
header.masthead #code-container-reset, header.masthead #code-container-scroll {   
    
    background-color: #141929;
    border-radius: .25rem;
    margin: 5px auto;
}
/*////////////////*/
/* CUSTOM CODE */
/*////////////////*/
#code-container-reset, #code-container-scroll {
    
    margin-left: 1rem;
    transition: opacity 800ms ease-in-out, max-width 600ms ease-in-out;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: flex-start;
    justify-content: flex-end;
}
#code-container-reset button {
    width: 50px;
    grid-area: 1 / 1 / 1 / 1;
    justify-self: flex-end;
    z-index: 1050;
}
#code-container-scroll button {
    width: 50px;
    grid-area: 1 / 1 / 1 / 1;
    justify-self: flex-end;
    margin-right: 10px;
    z-index: 1050;
}
#code-container-reset pre, #code-container-scroll pre {
    grid-area: 1 / 1 / 1 / 1;
}
pre {    
    
    height: 570px;
    padding: 15px;    
    overflow-y: hidden;
    overflow-x: hidden;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.7rem;
    font-weight: 600;
}
/* SCROLL */
#code-container-scroll pre {
    overflow-y: visible; 
}
#code-container-scroll pre::-webkit-scrollbar  {
    width: 10px;
}
#code-container-scroll pre::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
}
#code-container-scroll pre::-webkit-scrollbar-button:single-button {
    background-color: rgba(0, 0, 0, 0);
}
#code-container-scroll pre::-webkit-scrollbar-button:single-button:vertical:decrement {
    border-color: transparent transparent rgba(0, 0, 0, 0) transparent;
}
#code-container-scroll pre::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    border-color: transparent transparent transparent transparent;
}
#code-container-scroll pre::-webkit-scrollbar-button:single-button:vertical:increment {
    border-color: rgba(0, 0, 0, 0) transparent transparent transparent;
}
#code-container-scroll pre::-webkit-scrollbar-button:vertical:single-button:increment:hover {
    border-color: transparent transparent transparent transparent;
}
/*////////////////*/
/* CUSTOM TAG */
/*////////////////*/
code span.atributte {
    color: #89BDFF;
}
code span.coment {
    color: #83BA52;    
}
code span.selector {
    color: #F5D67B;
}
code span.comp-selector {
    color: #E76572;
}
code span.escopo {
    color: #f1f1f1;
}
code span.value {
    color: #9effb6;
}
code span.result {
    color: #FC9463;
}
code span.all {
    color: #59a0fd;
}
/*////////////////*/
/*////////////////*/
/* ANIMATION */
/*////////////////*/
.show-container {
   display: block;
   opacity: 1;
   overflow: hidden;
   max-width: 100%;
}
.hide-container {
    display: none;
    visibility: hidden;
    opacity: 1;
    overflow: hidden;
    background-color: red;
        
    max-width: 0%;
    pointer-events: none;
}
/*////////////////*/
/*////////////////*/
/* CONTAINER FEATURED - RESPONSIVIDADE*/
/*////////////////*/
@media (max-width: 1200px) {
    header.masthead .container .functions-basic {
        width: 100%;
    }    
}
@media (max-width: 500px) {
    pre {
        height: 435px;
        font-size: 0.5rem;
    }
}
/*////////////////*/



/*////////////////*/
/*////////////////*/
/* PAGE SECTION */
/*////////////////*/
.page-section {
    display: block;
    padding-top: 60px;
    padding-bottom: 60px;
}
/*////////////////*/
.item-image {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .list-item img {
    width: 86px;
}
.list-item {
    display: flex;
    flex-direction: column;
    align-items: center;     
    margin-left: 10px;
    margin-right: 10px;
    width: 150px;
}
/*////////////////*/
a.btn-blank-extensions{    
    width: 150px;   
    padding: 0.65rem 0.8rem;
    border: 1px solid var(--primary-color);    
    background-color: #fff;  
    color: var(--primary-color);  
    font-family: 'Krona One', sans-serif;
    font-size: 0.75rem;
    text-align: center;
    border-radius: 7px;
    transition: background-color 400ms ease-in-out;
}
a.btn-blank-extensions:hover{
    color: #fff; 
    background-color: var(--primary-color);
    text-decoration: none;    
} 
/*////////////////*/
.link-img {
    display: grid;
    grid-template-columns: auto;
    row-gap: 5px;
}
.link-img img{
    width: 800px;
}
/*////////////////*/


/*////////////////*/
/*////////////////*/
/* Biblioteca de Imagens */
/*////////////////*/
/*/////////////// */
/* Lista de Links */
#library-image .container .list-library {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: flex-end;
}
/*////////////////*/



